spring:
  application:
    name: gestao-frotas
  
  datasource:
    url: jdbc:postgresql://localhost:5432/gestao_frotas
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver
  
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect
    open-in-view: false
  
  docker:
    compose:
      enabled: true

# Swagger/OpenAPI Configuration
springdoc:
  api-docs:
    enabled: true
    path: /v3/api-docs
  swagger-ui:
    enabled: true
    path: /swagger-ui.html

# Logging
logging:
  level:
    dev.andervilo.gestao_frotas: DEBUG
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE

# Server
server:
  port: 8080
  error:
    include-message: always
    include-binding-errors: always
